body{
    background-color: white;
}
.box{
    width:180px;
    height:450px;
    border:5px solid;
    border-radius:30px;
    margin: 50px auto;
  
    
    
}
.A,.B,.C{
    
    height: 100px;
    width: 100px;
    margin:20px auto;
    border-radius: 50%;
    border: 4px solid;
}
.A{
    background-color: rgb(142, 235, 142);
}

.B{
    background-color: yellow;
    
}

.C{
    background-color: red;
}
